{# templates/components/datatable.html.twig #}
<div
        {{ this.stimulusController ? stimulus_controller(this.stimulusController) }}
>

    {{ this.stimulusController }}
    <div {{ stimulus_target(_sc, 'html') }}
    >


        {% block data %}
            data here.
        {% endblock %}
    </div>

</div>
