{# templates/components/tree.html.twig #}
{{ _self }}
<div {{ this.stimulusController ? stimulus_controller(this.stimulusController) }}>
    {{ this.stimulusController }}

    <div {{ stimulus_target(this.stimulusController, 'html') }}>


        {% block data %}
            data here.
        {% endblock %}
    </div>

</div>
